<mat-toolbar color="primary">
  <button class="router-button" [routerLink]="['painel']" mat-button>
    My Bank
  </button>
  <span class="ms-auto"></span>
  <button class="router-button" [routerLink]="['', 'clientes']" mat-button>
    Clientes
  </button>
  <button class="router-button" [routerLink]="['', 'contas']" mat-button>
    Contas
  </button>
  <button class="router-button" [routerLink]="['contas', 'deposito']" mat-button>
    Depósitos
  </button>
  <button class="router-button" [routerLink]="['contas', 'sacar']" mat-button>
    Saque
  </button>
  <button class="router-button" [routerLink]="['contas', 'transferencia']" mat-button>
    Transferência
  </button>
  <button class="router-button" [routerLink]="['']" mat-button>
    Sair
  </button>
</mat-toolbar>
