<mat-toolbar color="primary">
    <span>My Bank</span>
    <span class="ms-auto"></span>
    <button  class="router-button" [routerLink]="['clientes']" mat-button>Clientes</button>
    <button  class="router-button" [routerLink]="['contas']" mat-button>Contas</button>
    <button  class="router-button" [routerLink]="['clientes']" mat-button>Depósitos</button>
    <button  class="router-button" [routerLink]="['clientes']" mat-button>Saque</button>
    <button  class="router-button" [routerLink]="['clientes']" mat-button>Transferência</button>

</mat-toolbar>