<div class="container">
    <br />
    <div class="row">
      <div class="col-12 mb-2">
        <button mat-raised-button color="primary" [routerLink]="['', 'contas']">
          <mat-icon fontIcon="keyboard_backspace"></mat-icon> Voltar
        </button>
      </div>
      <div class="col-12 mb-2">
        <h1 *ngIf="funcao == 'deposito'" >Deposito</h1>
        <h1 *ngIf="funcao == 'sacar'" >Sacar</h1>
        <h1 *ngIf="funcao == 'transferencia'" >Transferência</h1>
      </div>
      <div class="col-12">
        <form
          [formGroup]="formGroup"
          class="example-form mt-4"
          (ngSubmit)="cadastrar()"
        >
          <div class="row g-3">
           
            <div class="col-3">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Valor</mat-label>
                <input matInput formControlName="valor" />
                <mat-error
                  class="text-danger mb-2"
                  *ngIf="
                    formGroup.get('valor')?.errors &&
                    formGroup.get('valor')?.hasError('required')
                  "
                  >Campo obrigatório</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field appearance="outline" class="full-width">
                <mat-select  formControlName="conta" placeholder="Cliente">
                  <mat-option *ngFor="let conta of contasList"  [value]="conta.id">
                    {{ conta.id }} - {{ conta.clienteNome }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            
            </div>
  
            <div class="col-2">
              <button
                [disabled]="!formGroup.valid"
                type="submit"
                mat-raised-button
                color="primary"
                class="full-width"
              >
                <span *ngIf="funcao == 'deposito'" >Depositar</span>
                <span *ngIf="funcao == 'sacar'" >Sacar</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  