<br />
<div class="container">
  <div class="row">
    <div class="col-3">
      <mat-card class="card-painel">
        <mat-icon
          fontIcon="account_balance_wallet"
          style="margin: auto"
        ></mat-icon>
        <h1 style="text-align: center">Contas</h1>
      </mat-card>
    </div>
    <div class="col-3">
      <mat-card class="card-painel">
        <mat-icon
          fontIcon="account_balance_wallet"
          style="margin: auto"
        ></mat-icon>
        <h1 style="text-align: center">Clientes</h1>
      </mat-card>
    </div>
    <div class="col-3">
      <mat-card class="card-painel">
        <mat-icon
          fontIcon="account_balance_wallet"
          style="margin: auto"
        ></mat-icon>
        <h1 style="text-align: center">Depositos</h1>
      </mat-card>
    </div>
    <div class="col-3">
      <mat-card class="card-painel">
        <mat-icon
          fontIcon="account_balance_wallet"
          style="margin: auto"
        ></mat-icon>
        <h1 style="text-align: center">Saques</h1>
      </mat-card>
    </div> 
  </div> <br>
  <div class="row">
    <div class="col-3">
        <mat-card class="card-painel">
          <mat-icon
            fontIcon="account_balance_wallet"
            style="margin: auto"
          ></mat-icon>
          <h1 style="text-align: center">Transferencia</h1>
        </mat-card>
      </div>
  </div>
</div>
